body {
    font-family: sans-serif;
  }
  
  #planoFundo {
    height: 500px;
    width: 1000px !important;
    opacity: 0.3;
  }
  
  h1,
  h2 {
    color: #001542;
    font-family: "Garamond", Times, serif;
  }
  button {
    background-color: #ffb30d;
    border-radius: 50px;
    width: 150px;
    padding: 10px;
    margin: 20px;
    border: 0px;
    cursor: pointer;
  }
  .pergunta {
    border-width: 5px;
    border-style: solid;
    border-color: #7a7a7a;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin: 20px;
  }
 